<div id="page-container" class="home-container"> 
    <div> 
        <div class="main-content" style="min-height: 841px;">
            <div class="page-header home-header">
                <div class="main-tweet-box">
                    <div class="tweet-box condensed">
                        <div class="tweet-box-title">
                            
                        </div>
                        <div class="tweet-button-container">
                            <span class="geo-control">
                                <a class="geo-location" href="#">
                                    <span class="geo-icon" original-title="">&nbsp;</span>
                                    <span class="geo-text ellipsify-container" style="">
                                        <span class="content" style=""></span>
                                    </span>
                                    <span class="geo-dropdown-icon" style="display: none; visibility: visible;">&nbsp;</span>
                                </a>
                            </span>
                            <div class="tweet-button-sub-container">
                                <img style="display: none;" class="tweet-spinner" src="/bundles/bestbadtweets/img/loader.gif">
                                <span class="tweetbox-counter-tipsy" style="opacity: 0;"></span>
                                <input disabled="disabled" value="140" class="tweet-counter">
                                <a class="tweet-button button disabled" href="#">Tweet</a>
                            </div>
                        </div>
                    </div>

            
